.main_area {
	float: right;
	width: calc(100% - 225px);
	height: calc(100% - 33px);
}
.main_table {
	width: 100%;
	table-layout: fixed;
}
.main_table_wrapper {
    overflow-y: scroll;
    max-height: calc(100% - 40px);
}
.main_table tr td {
	padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main_table tr:nth-child(1) td {
	text-transform: uppercase;
	color: #999;
	font-size: 12pt;
	background: linear-gradient(#292929, #3f3f3f);
	border-bottom: 1px solid #000;
}
.main_table tr:nth-child(odd) td { background-color: #2c2c2c; }
.main_table tr:nth-child(even) td { background-color: #2f2f2f; }
.main_table tr td:nth-child(1) {
	width: 32px;
	text-align: right;
	color: #999;
}
.main_table tr td:nth-child(2) {
	width: 60%;
	max-width: 60%;
}
.main_table tr td:nth-child(3) {
	width: 30%;
}
.main_table .active_row td, .active_row {
    background: linear-gradient(#B3E5FC, #4FC3F7) !important;
    color: #000 !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.main_table .playing_row td {
	font-weight: 700;
	background-color: #444 !important;
}

.search {
    width: 100%;
    height: 40px;
    background: linear-gradient(#3f3f3f, #292929);
    border-bottom: 1px solid #000;
}
.search .fa {
	width: 16px;
	font-size: 12pt;
	color: #eee;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px -1px 0px #000;
	margin-left: 10px;
}
.search input {
	outline: 0;
	border: 0;
	padding: 4px;
	margin: 8px;
	background-color: #111;
	color: #eee;
	font-family: "Roboto";
	border-radius: 2px;
	width: calc(100% - 47px);
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.66), 0px 1px 0px rgba(255, 255, 255, 0.1);
}