.side_bar {
	float: left;
	width: 224px;
	background-color: #222;
	border-right: 1px solid #000;
	height: calc(100% - 32px);
}
.current_track {
	width: 100%;
	background-color: #161616;
	height: 272px;
	border-bottom: 1px solid #000;
	line-height: 14pt;
}

.current_track .art {
	height: 224px;
	width: 224px;
	background: #223;
}
.current_track #album_art {
	width: 224px;
	max-height: 224px;
	position: absolute;
}
.current_track .info {
	height: 48px;
	background-color: #161616;
    z-index: 10;
    position: relative;
    transition: .5s;
}
.current_track .title, .current_track .artist {
	display: inline-block;
	margin-left: 8px;
	width: calc(100% - 32px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.current_track .title {
	font-size: 12pt;
	font-weight: 500;
	margin-top: 8px;
}
.current_track .artist {
	text-transform: uppercase;
	color: #999;
	font-size: 7pt;
}
.current_track #slideout_button {
	float: right;
	line-height: 48px;
	font-size: 16pt;
	text-align: center;
	width: 24px;
	height: 48px;
}
.current_track #slideout_button #caret_sob {
	line-height: 48px;
	width: 24px;
}
.art .interaction_buttons {
    position: relative;
    top: 194px;
    left: 0;
    font-size: 12pt;
    padding-left: 4px;
    display: none;
}
.art .interaction_buttons .fa {
	width: 24px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	color: #fff;
}
.art #service_icon {
    width: 32px;
    position: absolute;
    top: 8px;
    left: 184px;
    -webkit-filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.5));
    opacity: 0.66;
    transition: .1s;
}

#fave, #queue, #trash, #unfave, #unqueue {
	transition: .1s;
}
#fave:hover, #unfave {
	color: #F06292;
}
#unfave:hover {
	color: #E91E63;
}
#queue:hover, #unqueue {
	color: #4CAF50;
}
#unqueue:hover {
	color: #388E3C;
}
#trash:hover {
	color: #F44336;
}
.fa[disabled="1"] {
	color: #fff !important;
	opacity: 0.5;
}

.lists .list-item {
	display: block;
	width: calc(100% - 16px);
	padding: 6px;
	padding-left: 8px;
	padding-right: 8px;
}
.lists hr {
	outline: 0;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.33);
	width: 100%;
	margin: 0;
	padding: 0;
}
.lists .fa {
	margin-right: 4px;
}